*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    background:linear-gradient(90deg,red,pink,orange);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 20px;
text-align: center;
}
.form{
    background-color: brown;
    height: 200px;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0  20px whitesmoke,
    0 0 40px brown;
    margin-top: 30px;
}
